
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
    font-size: 14px;
    background-color: #eff2f1;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: 0.3s all ease;
    color: #2f2f2f;
}

a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

/* Navigation */
.custom-navbar {
    background: #3b5d50 !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom-navbar .navbar-brand {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}

.custom-navbar .navbar-brand > span {
    opacity: 0.4;
}

.custom-navbar .navbar-toggler {
    border-color: transparent;
}

.custom-navbar .navbar-toggler:active,
.custom-navbar .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.custom-navbar .custom-navbar-nav li a {
    font-weight: 500;
    color: #ffffff !important;
    opacity: 0.5;
    transition: 0.3s all ease;
    position: relative;
}

@media (min-width: 768px) {
    .custom-navbar .custom-navbar-nav li a:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 8px;
        right: 8px;
        background: #f9bf29;
        height: 5px;
        opacity: 1;
        visibility: visible;
        width: 0;
        transition: 0.15s all ease-out;
    }
}

.custom-navbar .custom-navbar-nav li a:hover {
    opacity: 1;
}

.custom-navbar .custom-navbar-nav li a:hover:before {
    width: calc(100% - 16px);
}

.custom-navbar .custom-navbar-nav li.active a {
    opacity: 1;
}

.custom-navbar .custom-navbar-nav li.active a:before {
    width: calc(100% - 16px);
}

.custom-navbar .custom-navbar-cta {
    margin-left: 0 !important;
}

@media (min-width: 768px) {
    .custom-navbar .custom-navbar-cta {
        margin-left: 40px !important;
    }
}

.custom-navbar .custom-navbar-cta li:first-child {
    margin-right: 20px;
}

/* Hero Section */
.hero {
    background: #3b5d50;
    padding: calc(4rem - 30px) 0 0rem 0;
}

@media (min-width: 768px) {
    .hero {
        padding: calc(4rem - 30px) 0 4rem 0;
    }
}

@media (min-width: 992px) {
    .hero {
        padding: calc(8rem - 30px) 0 8rem 0;
    }
}

.hero .intro-excerpt {
    position: relative;
    z-index: 4;
}

@media (min-width: 992px) {
    .hero .intro-excerpt {
        max-width: 450px;
    }
}

.hero h1 {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
}

@media (min-width: 1400px) {
    .hero h1 {
        font-size: 54px;
    }
}

.hero p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.hero .hero-img-wrap {
    position: relative;
}

.hero .hero-img-wrap img {
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 2;
    max-width: 780px;
    left: -20px;
}

@media (min-width: 768px) {
    .hero .hero-img-wrap img {
        right: 0px;
        left: -100px;
    }
}

@media (min-width: 992px) {
    .hero .hero-img-wrap img {
        left: 0px;
        top: -80px;
        position: absolute;
        right: -50px;
    }
}

@media (min-width: 1200px) {
    .hero .hero-img-wrap img {
        left: 0px;
        top: -80px;
        right: -100px;
    }
}

.hero .hero-img-wrap:after {
    content: "";
    position: absolute;
    width: 255px;
    height: 217px;
    background-image: url("dots-light.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -100px;
    top: 0px;
}

@media (min-width: 1200px) {
    .hero .hero-img-wrap:after {
        top: -40px;
    }
}

/* Buttons */
.btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    background: #2f2f2f;
    border-color: #2f2f2f;
    transition: 0.3s all ease;
}

.btn:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222;
}

.btn:active,
.btn:focus {
    outline: none !important;
    box-shadow: none;
}

.btn.btn-primary {
    background: #3b5d50;
    border-color: #3b5d50;
}

.btn.btn-primary:hover {
    background: #314d43;
    border-color: #314d43;
}

.btn.btn-secondary {
    color: #2f2f2f;
    background: #f9bf29;
    border-color: #f9bf29;
}

.btn.btn-secondary:hover {
    background: #f8b810;
    border-color: #f8b810;
}

.btn.btn-white-outline {
    background: transparent;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.3);
}

.btn.btn-white-outline:hover {
    border-color: white;
    color: #ffffff;
}

.section-title {
    color: #2f2f2f;
}


/* Product Section */
.product-section {
    padding: 7rem 0;
}

.product-section .product-item {
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 50px;
    cursor: pointer;
}

.product-section .product-item .product-thumbnail {
    margin-bottom: 30px;
    position: relative;
    top: 0;
    transition: 0.3s all ease;
}

.product-section .product-item h3 {
    font-weight: 600;
    font-size: 16px;
}

.product-section .product-item strong {
    font-weight: 800 !important;
    font-size: 18px !important;
}

.product-section .product-item h3,
.product-section .product-item strong {
    color: #2f2f2f;
    text-decoration: none;
}

.product-section .product-item .icon-cross {
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline-block;
    background: #2f2f2f;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -17.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease;
}

.product-section .product-item .icon-cross img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product-section .product-item:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: #dce5e4;
    height: 0%;
    z-index: -1;
    border-radius: 10px;
    transition: 0.3s all ease;
}

.product-section .product-item:hover .product-thumbnail {
    top: -25px;
}

.product-section .product-item:hover .icon-cross {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.product-section .product-item:hover:before {
    height: 70%;
}

/* Why Choose Us Section */
.why-choose-section {
    padding: 7rem 0;
}

.why-choose-section .img-wrap {
    position: relative;
}

.why-choose-section .img-wrap:before {
    position: absolute;
    content: "";
    width: 255px;
    height: 217px;
    background-image: url("dots-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-40%, -40%);
    z-index: -1;
}

.why-choose-section .img-wrap img {
    border-radius: 20px;
}

.feature {
    margin-bottom: 30px;
}

.feature .icon {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.feature .icon:before {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    right: -8px;
    bottom: 0;
}

.feature h3 {
    font-size: 14px;
    color: #2f2f2f;
}

.feature p {
    font-size: 14px;
    line-height: 22px;
    color: #6a6a6a;
}

/* Testimonial Section */
.testimonial-section {
    padding: 3rem 0 7rem 0;
}

.testimonial-section .testimonial-block blockquote {
    font-size: 16px;
}

@media (min-width: 768px) {
    .testimonial-section .testimonial-block blockquote {
        line-height: 32px;
        font-size: 18px;
    }
}

.testimonial-section .author-info .author-pic {
    margin-bottom: 20px;
}

.testimonial-section .author-info .author-pic img {
    max-width: 80px;
    border-radius: 50%;
}

.testimonial-section .author-info h3 {
    font-size: 14px;
    font-weight: 700;
    color: #2f2f2f;
    margin-bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #e6ebe8;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.carousel-control-prev {
    left: 40px;
}

.carousel-control-next {
    right: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 12px 12px;
    filter: invert(35%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #3b5d50;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: invert(100%);
}


/* Blog Section */
.blog-section {
    padding: 7rem 0 12rem 0;
}

.blog-section .post-entry a {
    text-decoration: none;
}

.blog-section .post-entry .post-thumbnail {
    display: block;
    margin-bottom: 20px;
}

.blog-section .post-entry .post-thumbnail img {
    border-radius: 20px;
    transition: 0.3s all ease;
}

.blog-section .post-entry .post-content-entry {
    padding-left: 15px;
    padding-right: 15px;
}

.blog-section .post-entry .post-content-entry h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 600;
    margin-bottom: 7px;
}

.blog-section .post-entry .post-content-entry .meta {
    font-size: 14px;
}

.blog-section .post-entry .post-content-entry .meta a {
    font-weight: 600;
}

.blog-section .post-entry:hover .post-thumbnail img,
.blog-section .post-entry:focus .post-thumbnail img {
    opacity: 0.7;
}

.blog-section .more {
    font-weight: 600;
}

/* Footer Section */
.footer-section {
    padding: 80px 0;
    background: #ffffff;
}

.footer-section .relative {
    position: relative;
}

.footer-section a {
    text-decoration: none;
    color: #2f2f2f;
    transition: 0.3s all ease;
}

.footer-section a:hover {
    color: rgba(47, 47, 47, 0.5);
}

.footer-section .subscription-form {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    margin-top: 100px;
}

@media (min-width: 992px) {
    .footer-section .subscription-form {
        margin-top: 0px;
        margin-bottom: 80px;
    }
}

.footer-section .subscription-form h3 {
    font-size: 18px;
    font-weight: 500;
    color: #3b5d50;
}

.footer-section .subscription-form .form-control {
    height: 50px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

.footer-section .subscription-form .form-control:active,
.footer-section .subscription-form .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #3b5d50;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.footer-section .subscription-form .btn {
    border-radius: 10px !important;
}

.footer-section .sofa-img {
    position: absolute;
    top: -200px;
    z-index: 1;
    right: 0;
}

.footer-section .sofa-img img {
    max-width: 380px;
}

.footer-section .links-wrap {
    margin-top: 0px;
}

@media (min-width: 992px) {
    .footer-section .links-wrap {
        margin-top: 54px;
    }
}

.footer-section .links-wrap ul li {
    margin-bottom: 10px;
}

.footer-section .footer-logo-wrap .footer-logo {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #3b5d50;
}

.footer-section .custom-social li {
    margin: 2px;
    display: inline-block;
}

.footer-section .custom-social li a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background: #dce5e4;
    color: #3b5d50;
    border-radius: 50%;
}

.footer-section .custom-social li a:hover {
    background: #3b5d50;
    color: #ffffff;
}

.footer-section .border-top {
    border-color: #dce5e4;
}

.footer-section .border-top.copyright {
    font-size: 14px !important;
}

/* Responsive */
@media (max-width: 768px) {
    .hero .hero-img-wrap img {
        position: relative;
        left: 0;
    }
    
    .hero .hero-img-wrap:after {
        display: none;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

/* Team Section */
.untree_co-section {
    padding: 7rem 0;
}

.untree_co-section h3 a {
    text-decoration: none;
    color: #2f2f2f;
}

.untree_co-section h3 a span {
    font-weight: 700;
}

.untree_co-section .position {
    color: #6a6a6a;
    font-size: 14px;
}

.untree_co-section .more {
    text-decoration: none;
    color: #2f2f2f;
    font-weight: 600;
}

.untree_co-section .more:hover {
    color: #3b5d50;
}

/* Cart Section */
.before-footer-section {
    padding: 7rem 0 12rem 0 !important;
}

.site-blocks-table {
    overflow: auto;
}

.site-blocks-table .product-thumbnail {
    width: 200px;
}

.site-blocks-table .btn {
    padding: 2px 10px;
}

.site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 0px !important;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
}

.site-blocks-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.8);
}

.site-blocks-table tbody tr:first-child td {
    border-top: 1px solid #3b5d50 !important;
}

.site-blocks-table .btn {
    background: none !important;
    color: #000000;
    border: none;
    height: auto !important;
}

.btn-black {
    background: #2f2f2f;
    color: #ffffff;
    border-color: #2f2f2f;
}

.btn-black:hover {
    background: #222222;
    color: #ffffff;
    border-color: #222222;
}

.btn-outline-black {
    background: transparent;
    color: #2f2f2f;
    border: 2px solid #2f2f2f;
}

.btn-outline-black:hover {
    background: #2f2f2f;
    color: #ffffff;
}

.quantity-container .btn-outline-black {
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.text-right {
    text-align: right;
}


.service {
    margin-bottom: 30px;
}

.service.no-shadow {
    box-shadow: none;
}

.service.horizontal {
    flex-direction: row;
}

.service-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(59, 93, 80, 0.1);
    border-radius: 10px;
    margin-right: 20px;
}

.service-icon svg {
    width: 24px;
    height: 24px;
    fill: #3b5d50;
}

.service-contents p {
    margin: 0;
    color: #2f2f2f;
    font-weight: 600;
}

.btn-primary-hover-outline {
    background: #3b5d50;
    border-color: #3b5d50;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 600;
}

.btn-primary-hover-outline:hover {
    background: #314d43;
    border-color: #314d43;
    color: #ffffff;
}


.site-block-order-table {
    border: none;
}

.site-block-order-table th {
    border-top: none !important;
    border-bottom-width: 1px !important;
}

.site-block-order-table td,
.site-block-order-table th {
    color: #000000;
}

.couponcode-wrap input {
    border-radius: 10px !important;
}

.thankyou-icon {
    position: relative;
    color: #3b5d50;
}

.thankyou-icon:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(59, 93, 80, 0.2);
}

.btn-outline-black {
    background: transparent;
    color: #2f2f2f;
    border: 2px solid #2f2f2f;
}

.btn-outline-black:hover {
    background: #2f2f2f;
    color: #ffffff;
}
